
<h3 mat-dialog-title>ajouter un graphe</h3>

<mat-card>
  <mat-card-content>

    <form class="example-form" [formGroup]="addGrapheForm" >

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>nom du graphe</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
           </td>

           <td>
            <mat-form-field appearance="fill">
              <mat-label>selectionner le type du graphe</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </td>
         </tr>
        </table>

        <div class="form-group">
          <label for="file">File</label>
          <input
              formControlName="file"
              id="file"
              type="file"
              class="form-control"
              (change)="uploadFile($event)">

      </div>

         <div mat-dialog-actions>
          <button mat-button  [disabled]="addGrapheForm.invalid"  [mat-dialog-close]="1" (click)="saveAdd()">sauvgarder</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">quitter</button>
        </div>

      </form>
  </mat-card-content>
</mat-card>












